<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Font Imports -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quintessential&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4186dd2485.js" crossorigin="anonymous"></script>

    <!-- Character StyleSheets -->
    <link rel="stylesheet" href="styles/character.css">
    <link rel="stylesheet" href="styles/shared.css">

    <title>Character Quest 64</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/jpg" href="images/potion.png"/>
</head>
<body>
<include href="views/header.html"></include>

<main class="container-fluid">
    <div class="row justify-content-around">

        <form class="col-12 col-md-10 mt-3 p-4 align-self-center" action="#" method="post" id="character-form">

            <h1 class="text-center mb-4">Character Sheet</h1>

            <!-- Name -->
            <div class="form-group row">
                <label class="col-2 col-form-label col-form-label-lg mr-0 pr-0 text-right" for="name"><strong>Name:</strong></label>
                <div class="col-8">
                    <input class="form-control text-center" type="text" name="name" id="name" value="<check if='{{ isset(@name) }}'>{{ @name }}</check>">
                </div>
                <span class="error mx-auto" id="err-name"><strong>Please only use letters, hyphens, or spaces (30 character limit)</strong></span>

                <!-- Display an error if there is one -->
                <check if="{{ isset(@errors['name']) }}">
                    <span class="err mx-auto"><strong>{{ @errors["name"] }}</strong></span>
                </check>
            </div><!-- Name Form Group -->

            <div class="row justify-content-center">

                <!-- Left Column -->
                <div class="col-12 col-md-5 mt-3">

                    <label class="control-label d-block text-center mb-4 pb-2" id="traits-header"><strong>Choose Your Race & Roll For Stats</strong></label>

                    <!-- Race -->
                    <div class="form-group row justify-content-between">

                        <label class="col-4 col-form-label col-form-label-lg text-center" for="race"><strong>Race:</strong></label>

                        <div class="col-8 my-auto">

                            <select class="form-control px-2 text-center" name="race" id="race">
                                <option value="" selected="selected" disabled="disabled">Choose One</option>
                                <repeat group="{{ @races }}" value="{{ @race }}">
                                    <option value="{{ @race }}" <check if='{{ @race == @userRace }}'>selected</check>>{{ ucfirst(@race) }}</option>
                                </repeat>
                            </select>
                            <span class="error text-center" id="err-race"><strong>Please choose a race</strong></span>

                            <!-- Display an error if there is one -->
                            <check if="{{ isset(@errors['race']) }}">
                                <span class="err d-flex justify-content-center"><strong>{{ @errors["race"] }}</strong></span>
                            </check>
                        </div>
                    </div><!-- Race Form Group -->

                    <!-- Stats -->
                    <repeat group="{{ @stats }}" key="{{ @statName }}" value="{{ @stat }}" counter="{{ @ctr }}">
                        <div class="form-group row justify-content-between">

                            <label class="col-4 col-form-label col-form-label-lg text-center" for="{{ @statName }}"><strong>{{ ucfirst(@statName) }}:</strong></label>

                            <div class="col-6">
                                <input class="stat form-control text-center" type="text"
                                       name="{{ @statName }}" id="{{ @statName }}"
                                       value="<check if='{{ isset(@stat) }}'>{{ @stat }}</check>" readonly>
                            </div>
                            <a class="dice col-2 my-auto text-center" id="{{ @statName }}Dice" href="#/"><i class="fa-solid fa-dice-d20 fa-2xl"></i></a>

                            <!-- Display error for stats if there is one -->
                            <check if="{{ (@ctr == count(@stats)) && isset(@errors['stats']) }}">
                                <span class="err col-6 offset-4 text-center mt-3"><strong>{{ @errors["stats"] }}</strong></span>
                            </check>
                        </div><!-- Stats Form Group -->
                    </repeat>
                    <span class="error col-6 offset-4 text-center mt-3" id="err-stats"><strong>Please roll for each stat</strong></span>
                </div><!-- Left Column -->

                <!-- Right Column -->
                <div class="col-12 col-md-5 mt-3">

                    <!-- Starting Item -->
                    <div class="form-group">

                        <label class="control-label d-block text-center pb-2" id="item-header"><strong>Choose One Item To Take With You</strong></label>

                        <div class="pl-0 pl-md-5 text-center text-md-left">
                            <repeat group="{{ @items }}" value="{{ @item }}" counter="{{ @ctr }}">
                                <label class="mb-3 pb-2"><input class="item" type="radio" name="item" value="{{ @item }}"
                                    <check if='{{ @item == @userItem }}'>checked</check>>
                                    <strong class="ml-3">
                                        <check if="get_class(@item) == 'Coin'">
                                            <true>{{ ucwords(@item->__toString()) }}</true>
                                            <false>{{ substr(ucwords(@item->__toString()), 0, -15) }}</false>
                                        </check>
                                    </strong>
                                </label>
                                <check if="{{ @ctr != count(@items) }}"><br></check>
                            </repeat>
                        </div>
                        <span class="error text-center" id="err-item"><strong>Please choose an item</strong></span>

                        <!-- Display an error if there is one -->
                        <check if="{{ isset(@errors['item']) }}">
                            <span class="err d-flex justify-content-center"><strong>{{ @errors["item"] }}</strong></span>
                        </check>
                    </div><!-- Starting Item Form Group -->
                </div><!-- Right Column -->

                <!-- Submit Button -->
                <div class="col-12 mt-md-4 text-center">
                    <button class="btn" id="modal-button" type="button" data-toggle="modal" data-target="#character-modal" hidden>Create Character</button>
                    <button class="btn" id="character-creator" type="submit">Create Character</button>
                </div><!-- Submit Button -->

                <div class="modal fade" id="character-modal">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content text-center">
                            <div class="modal-header">
                                <h5 class="modal-title">{{ ucwords(@name) }} | {{ ucfirst(@userRace) }}</h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div><!-- Modal Header -->
                            <div class="modal-body">
                                <repeat group="{{ @stats }}" key="{{ @key }}" value="{{ @value }}">
                                    <span><strong>{{ @key }}:</strong> {{ @value }}</span><br>
                                </repeat>
                                <br>
                                <span class="text-decoration-underline"><strong>Starting Item</strong></span><br>
                                <span>{{ @userItem }}</span>
                            </div><!-- Modal Body -->
                            <div class="modal-footer">
                                <button class="btn" id="start-journey" type="submit" name="start">Start Journey</button>
                            </div><!-- Modal Footer -->
                        </div><!-- Modal Content -->
                    </div><!-- Modal Dialog -->
                </div><!-- Modal Fade -->
            </div><!-- Row -->
        </form>
    </div><!-- Row -->
</main>

<!-- JQuery, Popper, & Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="//code.jquery.com/jquery.js"></script>
<script src="scripts/character/character.js"></script>
<check if="{{ isset(@name) && empty(@errors) }}"><script src="scripts/character/ajax.js"></script></check>
</body>
</html>