<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- font import -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quintessential&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4186dd2485.js" crossorigin="anonymous"></script>


    <!-- Game StyleSheets -->
    <link rel = "stylesheet" href = "styles/gamePage.css">
    <link rel = "stylesheet" href = "styles/shared.css">

    <title>Character Quest 64</title>

</head>

<body>

<include href="views/header.html"></include>

<div class = "container">
    <form action="#" method="post" id = "refresh">
    <div class = "row"><!-- main row -->

        <div id = "game-screen" class = "col col-12">
        </div>
        <div id = "scenario-text-div" class ="col col-12 col-lg-8">
            <p id = "scenario-text"> <!-- FILLED DYNAMICALLY WITH JAVASCRIPT --> </p>
            <button form="refresh" id = "cont-btn" class="button choice-btn hidden" type="submit">Continue</button>
        </div>
        <div id = "inventory-div" class = "col col-12 col-lg-4">
            <a class="btn" type="button" data-toggle="modal" data-target="#invMod" id = "inventory-button"> Inventory</a>

            <div class = "modal fade"
                 id = "invMod" tabindex="-1" role="dialog"
                 aria-labelledby="inventoryModal" aria-hidden="true"> <!-- start of modal -->

                <div class = "modal-dialog modal-dialog-centered" role = "document">

                    <div class = "modal-content"> <!-- start of modal content -->

                        <div class = "modal-header">
                            <h5 class = "modal-title" id = "invTitle"> Inventory: Click to Use! </h5>
                            <button type="button" class = "close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class = "modal-body" id = "inv-body"> <!-- Body -->
                            <ul class = "inventoryList text-center" id ="inventoryList">

                                <li id ="1:sword:adds 10 strength"><a class="btn choice-btn my-2" type="button">Sword: adds X strength for this turn.   Quantity: 1</a></li>
                                <li id = "2:potion:heals 10 health" ><a class="btn choice-btn my-2" type="button">Potion: adds 10 X effect for this turn.   Quantity: 2</a></li>
                            <!--    <li id = "key:opens a new path" ><a class="btn choice-btn my-2"type="button">Key  : opens a new path </a></li> -->
                            </ul>
                        </div><!-- Body -->
                        <div class = "modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>

                    </div> <!-- start of modal content -->

                </div>

            </div><!-- start of modal -->

            <br>
            <br>
            <br>
            <a class="btn" type="button" data-toggle="modal" data-target="#statsMod" id = "stats-button"> Stats</a>

            <!-- Modal -->
            <div class="modal fade" id="statsMod" tabindex="-1" role="dialog" aria-labelledby="statsModal" aria-hidden="true">

                <div class="modal-dialog modal-dialog-centered" role="document">

                    <div class="modal-content"><!-- start of modal content -->
                        <div class="modal-header">
                            <h3 class="modal-title" id="exampleModalLongTitle">Character Stats</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>


                        <div class="modal-body" id = "stats-body"><!-- Body -->
                            <ul>
                                <repeat group = "{{ @userStats }}" key = "{{ @key }}" value = " {{ @value }} ">

                                    <li id = "{{ @key }}" value = " {{ @value }} " > {{ @key }} : {{ @value }} </li>

                                </repeat>
                            </ul>
                        </div><!-- Body -->

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>

                    </div><!-- start of modal content -->
                </div>
            </div>


            <br>
            <br>
            <br>
            <h6> Coin: <span id = "coin"> 0 </span></h6>
        </div>
        <div id = "choice-div" class = "col col-12" >
            <a class="btn choice-btn my-2" id = "btn-a" type="button"><!-- filled dynamically --></a><br>
            <a class="btn choice-btn my-2" id = "btn-b" type="button"><!-- filled dynamically --></a><br>
            <a class="btn choice-btn my-2" id = "btn-c" type="button"><!-- filled dynamically --></a><br>
        </div>

    </div><!-- main row -->
    </form>
</div>
<script type="module" src="scripts/game/main.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>
</html>