<header class="container-fluid mx-0 px-0">
    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-md">
        <a class="navbar-brand" href="{{ @BASE }}"><i class="fa-solid fa-scroll"></i> Character Quest</a>

        <!-- Hamburger Button -->
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#togglerNav" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapse Content -->
        <div class="collapse navbar-collapse justify-content-end" id="togglerNav">
            <ul class="navbar-nav text-center">
                <check if="{{ empty(@loggedIn) }}">
                    <li class="nav-item px-2">
                        <button class="btn nav-link" id="signup" type="button" data-toggle="modal" data-target="#create-a-profile"><i class="fa-solid fa-user-plus"></i> Create A Profile</button>
                    </li>
                    <li class="nav-item px-2">
                        <button class="btn nav-link" id="login" type="button" data-toggle="modal" data-target="#login-modal"><i class="fa-solid fa-arrow-right-to-bracket"></i> Log In</button>
                    </li>
                </check>
                <check if="{{ @loggedIn }}">
                    <li class="nav-item dropdown mx-2">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa-regular fa-circle-user"></i>
                        </a>
                        <!-- TODO: Set profile & settings eventually -->
                        <div class="dropdown-menu dropdown-menu-right mt-3 text-center" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#"><i class="fa-solid fa-user"></i> Profile</a>
                            <a class="dropdown-item" href="#"><i class="fa-solid fa-gear"></i> Settings</a>
                            <a class="dropdown-item" href="logout"><i class="fa-solid fa-arrow-right-from-bracket"></i> Sign Out</a>
                        </div>
                    </li>
                </check>
            </ul>
        </div>
    </nav>

    <!-- Create A Profile -->
    <div class="modal fade"  role="dialog" id="create-a-profile">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content text-center">
                <div class="modal-header">
                    <h2 class="modal-title mx-auto my-auto pl-4">Create A Profile</h2>
                    <button class="close-button modal-button" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div><!-- Modal Header -->
                <div class="modal-body">
                    <form action="#" method="post" id="signup-form">
                        <fieldset class="form-group border mx-auto mb-0">
                            <div class="mx-auto px-3 form-entry-fields">
                                <!-- Display an error if there is one -->
                                <check if="{{ isset(@errors['user-exists']) }}">
                                    <span class="err d-flex justify-content-center"><strong>{{ @errors["user-exists"] }}</strong></span>
                                </check>

                                <div class="form-group text-left">
                                    <label for="create-username">Username</label>
                                    <input type="text" class="form-control" id="create-username" name="create-username"
                                           value="<check if='{{ isset(@createUsername) }}'>{{ @createUsername }}</check>">

                                    <!-- Display an error if there is one -->
                                    <check if="{{ isset(@errors['create-username']) }}">
                                        <span class="err d-flex justify-content-center">
                                            <strong>{{ @errors["create-username"] }}</strong>
                                        </span>
                                    </check>
                                </div>

                                <div class="form-group text-left">
                                    <label for="create-password">Password</label>
                                    <input type="password" class="form-control" id="create-password" name="create-password"
                                           value="<check if='{{ isset(@createPassword) }}'>{{ @createPassword }}</check>">

                                    <!-- Display an error if there is one -->
                                    <check if="{{ isset(@errors['create-password']) }}">
                                        <span class="err d-flex justify-content-center"><strong>{{ @errors["create-password"] }}</strong></span>
                                    </check>
                                </div>

                                <div class="form-group text-left">
                                    <label for="confirm-password">Confirm Password</label>
                                    <input type="password" class="form-control" id="confirm-password" name="confirm-password"
                                           value="<check if='{{ isset(@confirm) }}'>{{ @confirm }}</check>">

                                    <!-- Display an error if there is one -->
                                    <check if="{{ isset(@errors['confirm-password']) }}">
                                        <span class="err d-flex justify-content-center"><strong>{{ @errors["confirm-password"] }}</strong></span>
                                    </check>
                                </div>
                            </div>

                            <button class="btn modal-button" name="signup" type="submit">Sign Up</button>
                        </fieldset>
                    </form>
                </div><!-- Modal Body -->
            </div><!-- Modal Content -->
        </div><!-- Modal Dialog -->
    </div><!-- Modal Fade -->

    <!-- Log In Modal -->
    <div class="modal fade" id="login-modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title mx-auto my-auto pl-4">Log in to Character Quest 64</h2>
                    <button class="close-button modal-button" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div><!-- Modal Header -->
                <div class="modal-body">
                    <form action="#" method="post">
                        <fieldset class="form-group border mx-auto mb-0">
                            <div class="mx-auto px-3 form-entry-fields">
                                <!-- Display an error if there is one -->
                                <check if="{{ isset(@errors['user']) }}">
                                    <span class="err d-flex justify-content-center"><strong>{{ @errors["user"] }}</strong></span>
                                </check>

                                <div class="form-group text-left">
                                    <label for="username">Username</label>
                                    <input type="text" class="form-control" id="username" name="username"
                                           value="<check if='{{ isset(@username) }}'>{{ @username }}</check>">

                                    <!-- Display an error if there is one -->
                                    <check if="{{ isset(@errors['username']) }}">
                                        <span class="err d-flex justify-content-center"><strong>{{ @errors["username"] }}</strong></span>
                                    </check>
                                </div>

                                <div class="form-group text-left mb-0">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" id="password" name="password"
                                           value="<check if='{{ isset(@password) }}'>{{ @password }}</check>">

                                    <!-- Display an error if there is one -->
                                    <check if="{{ isset(@errors['password']) }}">
                                        <span class="err d-flex justify-content-center"><strong>{{ @errors["password"] }}</strong></span>
                                    </check>
                                </div>
                            </div>

                            <div class="text-center mt-3">
                                <button class="btn modal-button" name="login" type="submit">Log In</button>
                            </div>
                        </fieldset>
                    </form>
                </div><!-- Modal Body -->
            </div><!-- Modal Content -->
        </div><!-- Modal Dialog -->
    </div><!-- Modal Fade -->
</header>