<header class="container-fluid mx-0 px-0">
    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-md">
        <a class="navbar-brand" href="{{ @BASE }}"><i class="fa-solid fa-scroll"></i> Character Quest</a>

        <!-- Hamburger Button -->
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#togglerNav" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapse Content -->
        <div class="collapse navbar-collapse justify-content-end" id="togglerNav">
            <ul class="navbar-nav text-center">
                <li class="nav-item px-2">
                    <a class="nav-link" href="character"><i class="fa-solid fa-user-plus"></i> Create A Profile</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" href="game"><i class="fa-solid fa-arrow-right-to-bracket"></i> Sign In</a>
                </li>
                <li class="nav-item dropdown mx-2">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa-regular fa-circle-user"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right mt-3 text-center" aria-labelledby="navbarDropdownMenuLink">
                        <!-- Add these via repeat tag with sign in/out being dynamic -->
                        <a class="dropdown-item" href="#"><i class="fa-solid fa-user"></i> Profile</a>
                        <a class="dropdown-item" href="#"><i class="fa-solid fa-gear"></i> Settings</a>
                        <a class="dropdown-item" href="#"><i class="fa-solid fa-arrow-right-from-bracket"></i> Sign Out</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>