<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Font Import -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quintessential&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4186dd2485.js" crossorigin="anonymous"></script>

    <!-- Character StyleSheets -->
    <link rel="stylesheet" href="styles/landing.css">
    <link rel="stylesheet" href="styles/shared.css">

    <title>Character Quest 64</title>

    <!--favicon-->
    <link rel="shortcut icon" type="image/jpg" href="images/potion.webp"/>
</head>
<body>
<include href="views/header.html"></include>

<!--Container for body content-->

<div class="row justify-content-end container-fluid" id="container-form">
    <div class="col-6 container-fluid">
        <!-- summary -->
        <div class="border rounded px-0 py-3" id="summary-container">
            <h1 class="text-center mb-4" id="intro">Welcome...</h1><hr>

            <p id="description"> This app will allow users to create a custom character to play through an adventure
                scenario. The character stats are based on a random roll of ranges. Stats would include
                strength, intellect, stamina, dexterity, and luck. Character customization would include fantasy
                races (i.e. elves, orcs, dwarves, humans). Races will dictate the ranges of stats
                possible for each character. For example, an Orc would have a higher range of strength and
                Elves would have a higher range of intellect. The app will have a basic inventory system.
                Different paths can open up depending on what the character is carrying. The inventory will
                have basic items like a key(to open paths), potions(to boost stats), and money.</p><hr>
            <p id="created-by">Created by: Devin Leyba-Brown, Colton Marty, & Lyra Darling</p>
        </div>
    </div>
    <div id="bio-container">
        <!--carousel head-->
        <div id="carousel-head" class="carousel carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="images/colts-char.webp" class="d-block w-100" alt="first slide coltons character">
                </div>
                <div class="carousel-item">
                    <img src="images/lyra-char.webp" class="d-block w-100" alt="second slide lyras character">
                </div>
                <div class="carousel-item">
                    <img src="images/dev-char.webp" class="d-block w-100" alt="third slide devins character">
                </div>
            </div>
        </div>

        <h6 id="bio-header">Your adventure awaits!</h6><hr>
<!--        <p id="bio"> {{ @SESSION.bio }}</p>-->
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="//code.jquery.com/jquery.js"></script>
<script type="module" src="scripts/landing.js"></script>

<check if="{{ isset(@createUsername) && !empty(@errors) }}">
    <script>
        // On page load, click open the signup modal
        $(window).load(function() {
            $("#signup").click();
        });
    </script>
</check>

<check if="{{ isset(@username) && !empty(@errors) }}">
    <script>
        // On page load, click open the login modal
        $(window).load(function() {
            $("#login").click();
        });
    </script>
</check>

</body>
</html>