/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ HTML & Body Styles ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

html {
    height: 100vh;
}

body {
    height: 100vh;
    background-image: url("../images/guild-hall.jpg");
    background-size: cover;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Main Styles ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

form {
    color: #48291e;
    border: 3px solid #48291e;
    background: url('../images/paper.jpg') no-repeat center;
}

.form-control, .form-control:enabled {
    height: auto;
    color: #48291e;
    background-color: inherit;
    border: none;
    border-bottom: 2px solid #48291e;
    border-radius: 0;
}

select#race {
    height: auto;
    color: #f2e3cc;
    background-color: #5e4134;
    border: 2px solid #48291e;
    border-radius: 8px;
}

select#race option:disabled {
    color: #f2e3cc;
}

.input-group {
    border: none;
}

.input-group-text {
    color: #48291e;
    background-color: inherit;
    border: none;
}

.stat {
    padding-bottom: 0;
    font-size: 110%;
    font-weight: 1000;
}

.fa-dice-d20 {
    color: #861657;
}

.err {
    color: #9d0208;
}

#item-header {
    margin-bottom: 10%;
}

#item-header, #traits-header {
    border-bottom: 2px solid #48291e;
}

#character-creator {
    color: #f2e3cc;
    background-color: #5e4134;
    border: 2px solid #48291e;
    border-radius: 8px;
}

#character-creator:hover {
    color: #f2e3cc;
    background-color: #48291e;
}