#bio-container{
    padding: 0 10px;
    text-align: center;
    width: 50%;
    float: right;
    border-color: lightgray;
}

body{
    background: url("../../CharacterQuest64/images/city3.webp") no-repeat ;
    background-size: cover;
}

.border {
     border: none!important;
}
.carousel-item{
    width: 115%;
}


#container-form{
    /*border: #c3c3c3 solid 1px;*/
    margin: 25px 50px;
}

#created-by{

    padding-top: 20px;
}

#description {
    width: 66%;
    margin-left: 100px;
}


.d-block {
    display: initial!important;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;

}

#intro{
    margin-top: 75px;
}

.pl-3, .px-3 {
    padding-left: 1rem!important;
}


#summary-container{
    margin-top: -14px;
    background: url(../../CharacterQuest64/images/scroll4.webp) no-repeat center;
    background-size: cover;
    height: 500px;
}

.w-100 {
    width: 50%!important;
}

@media screen and (min-width: 1240px) {

    body{
        background: url("../../CharacterQuest64/images/city3.webp") no-repeat ;
        background-size: cover;
    }

    #summary-container{
        margin-top: -14px;
        background: url(../../CharacterQuest64/images/scroll4.webp) no-repeat center;
        background-size: 825px;
        height: 600px;
    }

    #description{
        width: 66%;
        margin-left: 100px;

    }
}

@media screen and (min-width: 1390px) {

    body{
        background: url("../../CharacterQuest64/images/city3.webp") no-repeat ;
        background-size: cover;
    }

    #summary-container{
        margin-top: -14px;
        background: url(../../CharacterQuest64/images/scroll4.webp) no-repeat center;
        background-size: 825px;
        height: 600px;
    }

    #description{
        width: 67%;
        margin-left: 100px;

    }


}

@media screen and (min-width: 1420px) {

    body{
        background: url("../../CharacterQuest64/images/city3.webp") no-repeat ;
        background-size: cover;
    }

    #summary-container{
        margin-top: -14px;
        background: url(../../CharacterQuest64/images/scroll4.webp) no-repeat center;
        background-size: 825px;
        height: 600px;
    }

    #description{
        width: 71%;
        margin-left: 100px;

    }
}

@media screen and (min-width: 1520px) {

    body{
        background: url("../../CharacterQuest64/images/city3.webp") no-repeat ;
        background-size: cover;
    }

    #summary-container{
        margin-top: -14px;
        background: url(../../CharacterQuest64/images/scroll4.webp) no-repeat center;
        background-size: 825px;
        height: 600px;
    }

    #description{
        width: 63%;
        margin-left: 140px;

    }
}

@media screen and (min-width: 1670px) {

    body{
        background: url("../../CharacterQuest64/images/city3.webp") no-repeat ;
        background-size: cover;
    }

    #summary-container{
        margin-top: -14px;
        background: url(../../CharacterQuest64/images/scroll4.webp) no-repeat center;
        background-size: 825px;
        height: 600px;
    }

    #description{
        width: 54%;
        margin-left: 190px;

    }
}

@media screen and (min-width: 1770px) {

    body{
        background: url("../../CharacterQuest64/images/city3.webp") no-repeat ;
        background-size: cover;
    }

    #summary-container{
        margin-top: -14px;
        background: url(../../CharacterQuest64/images/scroll4.webp) no-repeat center;
        background-size: 825px;
        height: 600px;
    }

    #description{
        width: 54%;
        margin-left: 194px;

    }
}


@media screen and (min-width: 1825px) {

    body{
        background: url("../../CharacterQuest64/images/city3.webp") no-repeat ;
        background-size: cover;
    }

    #summary-container{
        margin-top: -14px;
        background: url(../../CharacterQuest64/images/scroll4.webp) no-repeat center;
        background-size: 825px;
        height: 600px;
    }

    #description{
        width: 54%;
        margin-left: 207px;

    }
}