#bio-container{
    padding: 0 10px;
    text-align: center;
    width: 50%;
    float: right;
    border-color: lightgray;
}

body{
    background-color: transparent;

}

.border {
     border: none!important;
}
.carousel-item{
    width: 115%;
}


#created-by{

    padding-top: 20px;
}

#description {
    width: 66%;
    margin-left: 100px;
}


.d-block {
    display: initial!important;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;

}


html {
    /*width: 117%;*/
    background: url(../../CharacterQuest64/images/city3.webp) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.item {
    display: none;
    position: relative;
    .transition(.3s ease-in-out left);
}

#intro{
    margin-top: 75px;
}

.pl-3, .px-3 {
    padding-left: 1rem!important;
}


#summary-container{
    margin-top: 25px;
    background: url(../../CharacterQuest64/images/scroll4.webp) no-repeat center;
    background-size: cover;
    height: 500px;
}

.w-100 {
    width: 50%!important;
}

@media screen and (min-width: 1240px) {

    #summary-container{
        margin-top: -14px;
        background: url(../../CharacterQuest64/images/scroll4.webp) no-repeat center;
        background-size: 825px;
        height: 600px;
    }

    #description{
        width: 66%;
        margin-left: 100px;

    }
}

@media screen and (min-width: 1390px) {

    #summary-container{
        margin-top: -14px;
        background: url(../../CharacterQuest64/images/scroll4.webp) no-repeat center;
        background-size: 825px;
        height: 600px;
    }

    #description{
        width: 67%;
        margin-left: 100px;

    }
}

@media screen and (min-width: 1420px) {

    #summary-container{
        margin-top: -14px;
        background: url(../../CharacterQuest64/images/scroll4.webp) no-repeat center;
        background-size: 825px;
        height: 600px;
    }

    #description{
        width: 71%;
        margin-left: 100px;

    }
}

@media screen and (min-width: 1520px) {

    #summary-container{
        margin-top: -14px;
        background: url(../../CharacterQuest64/images/scroll4.webp) no-repeat center;
        background-size: 825px;
        height: 600px;
    }

    #description{
        width: 63%;
        margin-left: 140px;

    }
}

@media screen and (min-width: 1670px) {

    #summary-container{
        margin-top: -14px;
        background: url(../../CharacterQuest64/images/scroll4.webp) no-repeat center;
        background-size: 825px;
        height: 600px;
    }

    #description{
        width: 54%;
        margin-left: 190px;

    }
}

@media screen and (min-width: 1770px) {

    #summary-container{
        margin-top: -14px;
        background: url(../../CharacterQuest64/images/scroll4.webp) no-repeat center;
        background-size: 825px;
        height: 600px;
    }

    #description{
        width: 54%;
        margin-left: 194px;

    }
}


@media screen and (min-width: 1825px) {

    #summary-container{
        margin-top: -14px;
        background: url(../../CharacterQuest64/images/scroll4.webp) no-repeat center;
        background-size: 825px;
        height: 600px;
    }

    #description{
        width: 54%;
        margin-left: 207px;

    }
}

@media screen and (max-width: 1245px) {

    #summary-container{
        margin-top: -14px;
        background: url(../../CharacterQuest64/images/scroll4.webp) no-repeat center;
        background-size: 825px;
        height: 600px;
    }

    #description{
        width: 74%;
        margin-left: 81px;

    }

    .w-100 {
        width: 49%!important;
    }
}


@media screen and (max-width: 1170px) {

    #summary-container{
        margin-top: -14px;
        background: url(../../CharacterQuest64/images/scroll4.webp) no-repeat center;
        background-size: 685px;
        height: 532px;
    }

    #description{
        width: 69%;
        margin-left: 81px;

    }

    #created-by {
        padding-top: 20px;
        margin: 0 50px;
    }
}

@media screen and (max-width: 990px){

    #summary-container {
        width: 150%;
        margin-top: -14px;
        background: url(../../CharacterQuest64/images/scroll4.webp) no-repeat center;
        background-size: 617px;
        height: 506px;
    }

    #description {
        width: 46%;
        margin-left: 185px;
    }

    #created-by {
        padding-top: 7px;
        margin: 0 178px;
    }
    #carousel-head{
        margin-top: 32px;
    }
}


@media screen and (max-width: 900px){

    #summary-container {
        width: 150%;
        margin-top: -14px;
        background: url(../../CharacterQuest64/images/scroll4.webp) no-repeat center;
        background-size: 617px;
        height: 506px;
    }

    #description {
        width: 41%;
        margin-left: 181px;
    }

    #created-by {
        padding-top: 7px;
        margin: 0 178px;
    }
    #carousel-head{
        margin-top: 32px;
    }
}


@media screen and (max-width: 895px){

    #summary-container {
        margin-top: -14px;
        background: url(../../CharacterQuest64/images/scroll4.webp) no-repeat center;
        background-size: 617px;
        height: 506px;
    }

    #intro {
        margin-top: 74px;
        margin-bottom: 0 !important;
    }
    #description {
        width: 41%;
        margin-left: 181px;
    }

    #created-by {
        margin: 0 147px;
    }
}

@media screen and (max-width: 820px){

    #container-form{
        margin-top: 200px;
    }

    #summary-container {
        margin-top: -14px;
        background: url(../../CharacterQuest64/images/scroll4.webp) no-repeat center;
        background-size: 617px;
        height: 506px;
    }

    #intro {
        margin-top: 74px;
        margin-bottom: 0 !important;
    }
    #description {
        width: 67%;
        margin-left: 93px;
    }

    #created-by {
        margin: 0 113px;
    }

    #carousel-head{
        margin-left: 43px;
        margin-top: 42px;
    }
    .w-100 {
        width: 70%!important;
    }
}

@media screen and (max-width: 790px){

    #container-form{
        margin-top: 200px;
    }

    #summary-container {
        margin-top: -14px;
        background: url(../../CharacterQuest64/images/scroll4.webp) no-repeat center;
        background-size: 617px;
        height: 506px;
    }

    #intro {
        margin-top: 74px;
        margin-bottom: 0 !important;
    }
    #description {
        width: 55%;
        margin-left: 118px;
    }

    #created-by {
        margin: 0 93px;
    }

    #carousel-head{
        margin-left: 43px;
        margin-top: 42px;
    }
}

@media screen and (max-width: 735px){

    #container-form{
        margin-top: 200px;
    }

    #summary-container {
        margin-top: -14px;
        background: url(../../CharacterQuest64/images/scroll4.webp) no-repeat center;
        background-size: 617px;
        height: 506px;
    }

    #intro {
        margin-top: 74px;
        margin-bottom: 0 !important;
    }
    #description {
        width: 55%;
        margin-left: 118px;
    }

    #created-by {
        margin: 0 93px;
    }

    #carousel-head{
        margin-left: 43px;
        margin-top: 42px;
    }
}