/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Body Styles ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

body {
    font-family: 'Quintessential', cursive;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Header & Nav Styles ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

header {
    border-bottom: 2px solid #48291e;
    background: url("../images/paper.jpg") no-repeat center;
}

.navbar-brand {
    font-size: 1.7rem;
    font-weight: bold;
}

.navbar-brand, .navbar-brand i {
    color: #48291e;
}

.navbar-brand:hover {
    color: #5e4134;
}

.navbar-nav a:hover {
    color: #f2e3cc;
    background-color: #48291e;
}

.nav-link, .dropdown-menu, .dropdown-item {
    color: #f2e3cc;
    background-color: #5e4134;
}

.nav-link i, .dropdown-item i {
    color: #b39e8b;
}

.dropdown-menu, .nav-link, .navbar-toggler {
    border: 2px solid #48291e;
    border-radius: 8px;
}

.navbar-toggler {
    background-color: #5e4134;
    width: 50px;
    height: 38px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='4 2 30 30'%3e%3cpath stroke='rgb(179, 158, 139)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler:hover>.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='4 2 30 30'%3e%3cpath stroke='rgb(200, 181, 161)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}